@use "./variables.scss" as *;

$button-text-transform-override: none;
$button-text-letter-spacing-override: 0px;

@forward "vuetify/settings" with (
  // Component Vuetify SASS variable overrides.  See https://vuetifyjs.com/en/features/sass-variables/#variable-api
  // For example -- overriding button font capitalization (as seen at the bottom of the v-btn guide here https://vuetifyjs.com/en/api/v-btn/):
  $button-text-transform: $button-text-transform-override,
  $button-text-letter-spacing: $button-text-letter-spacing-override
);
