@use "./variables.scss" as *;

$rounded-override: (
    'pill': var(--v-rounded-pill),
);

@use 'vuetify' with (
    // Global Vuetify SASS variable overrides.  For example:
    // $utilities: false,
    // $reset: false,
    // $color-pack: false,
    $body-font-family: $body-font-family-override,
    $rounded: $rounded-override,
)